#body{
	-fx-padding:30 20;
}

.layout-body{
	-fx-background-color:#beb7a4;
}
.sidebar{
	-fx-background-color: -secondary-color ;
	-fx-border-radius: 20;
	-fx-effect: dropshadow(gaussian,#bbb, 4, 0, 3, 0);
	-fx-padding: 20 0;
}

.topbar{
	-fx-background-color: -primary-color;
	-fx-effect: dropshadow(gaussian,#bbb, 4, 0, 0, 3);
	-fx-padding: 10 30;
}
.brand{
	-fx-text-fill: #fff;
	-fx-font-size: 17;
	-fx-font-weight: bold;
}

.search{
	-fx-max-width: 200;
	-fx-font-size: 16;
}

.username{
	-fx-text-fill: #fff;
	-fx-font-size: 17;
	-fx-font-weight: bold;
}
.nav-item{
	-fx-min-width: 250;
	-fx-min-height: 50;
	-fx-text-fill: #222;
	-fx-font-family: 'Open Sans';
	-fx-font-weight: bold;
	-fx-font-size: 18;
	-fx-padding: 0 30;
	/*-fx-border-color: transparent transparent #eee transparent;*/
}
.nav-item:hover,.active{
	-fx-background-color: -hover-color;
}
.nav-logout{
	/*-fx-border-color: #000 transparent transparent transparent;*/
	
}

.label-text{
	-fx-font-size: 16;
}

.input{
	-fx-font-size:16;
}
.select{
	-fx-background-color: transparent;
	-fx-border-color: #ccc;
	-fx-font-size:16;
}




.locate-text{
	-fx-font-size: 40;
}

.card,.chart-card{
	-fx-background-color: #fff;
	-fx-border-color: #ccc;
	-fx-effect: dropshadow(gaussian,#bbb, 4, 0, 3, 3);
	-fx-padding: 10;
}

.report-title,.card-title{
	-fx-text-fill: #736ced;
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-padding: 5 0;
}
.report-key{
	-fx-font-size: 14px;
	
}


.display-card{
	-fx-min-height: 100;
	-fx-background-color: #fff;
	-fx-border-color: #ddd;
	-fx-padding: 10;
}

.display-title{
	-fx-text-fill: rgba(0,0,0,0.6);
	-fx-font-size: 11px;
	
}
.display-report{
	-fx-font-size: 16px;
	-fx-padding:5px;
}
.display-percent{
	-fx-text-fill: tomato;
	-fx-font-size: 15px;
}
.chart-card{
	-fx-border-color:transparent transparent transparent lightgreen;
}

.chart-title{
	-fx-text-fill: green;
	-fx-font-size: 16px;
	-fx-padding: 0 5 5 0;
}

.tables{
	-fx-background-color: #fff;
	
	-fx-effect: dropshadow(gaussian,#bbb, 4, 0, 3, 3);
	
}


.btn-cancel,.btn-add,.btn-update,.btn-set{
	-fx-padding: 5 20;
	-fx-effect: dropshadow(gaussian,#bbb, 2, 0, 2, 2);
}
.btn-cancel{
	-fx-text-fill: #000;
	-fx-background-color: -secondary-color;
}

.btn-add,.btn-update,.btn-set{
	-fx-text-fill: #fff;
	-fx-background-color:  -primary-color;
}
.error-label{
	-fx-text-fill: red;
	
}
.btn-datereload{
	
}

.voucher{
	-fx-min-width: 500px;
	-fx-max-width: 500px;
	-fx-padding: 10px 40px;
}

.voucher-header , .voucher-body  {
	-fx-border-color: transparent transparent #bbb transparent;
	-fx-border-style: dashed ;
	-fx-padding: 20 0;
}

.voucher-footer{
	-fx-padding: 10 0 0 0;
}

.voucher-title{
	-fx-font-weight: bold;
}
.voucher-note{
	-fx-font-size: 11px;
	-fx-text-fill: #bbb;
}

.dia{
	-fx-background-color: #fff;
	-fx-padding: 10px 40px 10px 25px;
}

.dia-footer{
	-fx-background-color: #fff;
}
